/* * */
/* * * * * * * * Importing Raleway font family */
/* * */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

/* * */ 
/* * * * * * * * Declaring global color vars */
/* * */
:root {
    --green: #1EDF82;
    --red: #e04848;
    --black: #292929;
    --dark-gray: #303030;
    --separator: #333333;
    --light-gray: #666666;
    --input-height: 3rem;
    --textarea-height: 12rem;
}

/* * */ 
/* * * * * * * * Global */
/* * */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 93.75%;
    min-height: 100vh;
}
body {
    background: var(--black);

    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    color: white;
}

/* * */ 
/* * * * * * * * Containers & Flexbox */
/* * */

.grid-container {
    min-height: 100vh;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 2fr 4fr;
    column-gap: 0;
    justify-items: stretch;
}

.flex-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.flex-container.y {
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

/* * */ 
/* * * * * * * * Titles, buttons & lists */
/* * */

h1, h2, h3 {
    font-weight: normal;
}

button {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    border: none;
    background: none;
    color: white;
}

ul {
    list-style-type: none;
}

a, a:visited, a:target {
    text-decoration: none;
    color: white;
}

/* * */ 
/* * * * * * * * Sidebar */
/* * */

#sidebar {
    background: var(--dark-gray);
    padding: 2rem 0;
}

#sidebar header {
    text-align: center;
}

.greeting {
    margin-top: 1.5rem;
}

.logo {
    color: var(--green);
    font-size: 3rem;
}

/* * */ 
/* * * * * * * * Inbox */
/* * */

#inbox {
    margin-top: 4rem;
}

.inbox-header {
    padding: 0 1.5rem;
    text-align: center;
    cursor: default;
}

a.new-email-button {
    padding: .25rem .5rem;

    color: var(--green);

    border: 1px solid var(--green);
    border-radius: .4rem;

    opacity: .7;
    transition: opacity .2s;
}

a.new-email-button:hover {
    opacity: 1;
}

.inbox-list-section {
    margin-top: 2rem;
}

ul.inbox-list li {
    padding: .75rem .5rem .75rem 1.5rem;
    cursor: pointer;
    transition: background-color .2s, color .2s;
}

ul.inbox-list li:hover {
    background: var(--black);
}

ul.inbox-list li.active {
    background: var(--black);
    color: var(--green);
}

/* * */ 
/* * * * * * * * Email */
/* * */

#email {
    padding: 0 3rem;
}

.email-header {
    margin-top: 2rem;
}

.email-header h2 {
    font-size: 3rem;
}

.email-header .sender-info {
    color: var(--light-gray);

    margin-top: 1rem;

    display: flex;
    align-items: center;
}

.email-header .sender-info p {
    padding: .25rem .5rem;
    
    border: 1px solid var(--light-gray);
    border-radius: .4rem;
}

.email-header .sender-info p {
    margin-right: 1rem;
}

#delete, #reply {
    cursor: pointer;
}

#delete {
    color: var(--red);
    border-color: var(--red);
    opacity: .7;

    transition: opacity .2s;
}
#delete:hover {
    opacity: 1;
}

#reply {
    color: var(--green);
    border-color: var(--green);
    opacity: .7;

    transition: opacity .2s;
}
#reply:hover {
    opacity: 1;
}


#email .separator {
    width: 100%;
    margin-top: 1.5rem;
    border-bottom: 2px solid var(--separator);
}

.email-body {
    margin-top: 2rem;

    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: .1rem;
}

/* * */ 
/* * * * * * * * Modal */
/* * */

.modal-overlay {
    background: rgba(0, 0, 0, .8);

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    transition: opacity .5s;
}
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.modal {
    min-width: 50vw;
    min-height: 50vh;
    padding: 2rem;
    
    background: #202020;
    border-radius: .4rem;

    overflow-y: auto;
}
.modal h2 {
    text-align: center;
}

/* * */ 
/* * * * * * * * Forms */
/* * */

form {
    margin-top: 1rem;
    width: 100%;
}

form input, form textarea {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    color: white;
}

.input-group {
    margin-top: 1rem;
    width: 100%;

    display: flex;
    align-items: center;
}
.input-group input, .input-group textarea {
    padding: .5rem;
    width: 100%;
    height: var(--input-height);
    
    border: none;
    border-radius: 0 .4rem .4rem 0;
    background: var(--black);
}
.input-group textarea {
    min-height: var(--input-height);
    height: var(--textarea-height);
}

.input-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: .5rem .8rem;
    height: var(--input-height);

    background: var(--black);
    color: var(--green);
    border-radius: .4rem 0 0 .4rem;
}

.input-icon.textarea-icon {
    flex-direction: column;
    justify-content: start;
    padding-top: .75rem;
    min-height: var(--input-height);
    height: var(--textarea-height);
}

.input-group.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-button, a.form-button {
    display: flex;
    align-items: center;

    height: var(--input-height);
    padding: .4rem 1rem;
    
    cursor: pointer;
    background: var(--green);
    color: #202020;
    text-align: center;
    border-radius: .4rem;

    opacity: .7;
    transition: opacity .2s;
}

.form-button:hover, a.form-button:hover {
    opacity: 1;
}

a.form-button {
    background: none;
    color: var(--red);

    border: solid 1px var(--red);
}